<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <table border="1">
        <tr>
            <th>Series</th>
            <th>Model</th>
            <th>Owner</th>
        </tr>
        <tr th:each="car : ${carsAttribute}">
            <td th:text="${car.series}"></td>
            <td th:utext="${car.model}"></td>
            <td th:utext="${car.getOwner}"></td>
        </tr>
    </table>
</div>
</body>
</html>